<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="w-full p-8 min-h-screen bg-zinc-900 text-white">
        <div class="w-full flex gap-4 justify-end">
            <a class="bg-yellow-200 text-black rounded-md px-3 py-2 text-sm mb-5 inline-block" href="/profile/upload">Edit Profile</a>
            <a class="bg-red-500 rounded-md px-3 py-2 text-sm mb-5 inline-block" href="/logout">Log out</a>
        </div>
        <div class="flex flex-col items-center mt-10 gap-3">
            <div class="w-48 h-48">
                <img class="w-full h-full rounded-full object-cover object-[50%_30%] overflow-hidden"
                    src="/images/uploads/<%= user.profilepic %>" alt="">
            </div>
            <h3 class="text-6xl"><span class="font-light">Hello</span>, <%= user.name %>👋🏻</h3>
        </div>
        <h5 class="mb-5 mt-3 text-xl text-center">You can create a new post.</h5>
        <form class="flex flex-col items-center " method="post" action="/post">
            <textarea cols="25px" rows="5px" placeholder="What's on your mind ?"
                class="p-3 w-1/3 outline-none resize-none bg-transparent border-2 border-zinc-800 rounded-md"
                name="content" id=""></textarea>
            <input class="px-3 w-40 py-2 bg-blue-500 block  rounded-md mt-4 text-sm" type="submit"
                value="Create new post">
        </form>
        <div class="posts mt-20 flex flex-col">
            <h3 class="text-zinc-400 text-2xl mb-4">Your posts.</h3>
            <div class="w-[100%] postcontainer flex gap-3 flex-wrap">
                    <% user.posts.reverse().forEach(function(post){ %>
                        <div class="post w-[32.7%] p-4 rounded-md bg-zinc-800 border-[1px] border-zinc-800">
                            <div class="flex items-center justify-between">
                                <h4 class="text-blue-500 mb-2">@<%= user.username %>
                                </h4>
                                <button onclick="deletePost('<%= post._id %>')"><i
                                        class="fa-solid fa-trash"></i></button>
                            </div>
                            <p class="text-sm tracking-tight">
                                <%= post.content %>
                            </p>
                            <small class="mt-2 inline-block">
                                <%= post.likes.length %> likes
                            </small>


                            <div class="btns flex mt-1 gap-5">
                                <a class="text-blue-500" href="/like/<%= post._id %>">
                                    <%= post.likes.indexOf(user._id)===-1 ? "Like" :"Unlike" %>
                                </a>
                                <a class="text-zink-600" href="/edit/<%= post._id %>">Edit</a>
                            </div>
                        </div>
                        <% }) %>
            </div>

        </div>
    </div>

    <script>
        function deletePost(postId) {
            if (confirm('Are you sure you want to delete this post?')) {
                fetch('/delete/' + postId, {
                    method: 'DELETE'
                })
                    .then(response => response.text())
                    .then(data => {
                        window.location.reload(); // Reload the page to update the list of posts
                    })
                    .catch(error => console.error('Error deleting post:', error));
            }
        }
    </script>
</body>

</html>